
// GRID LAYOUT
body {
    font-family: Arial, sans-serif;
    margin: 5%;
    padding: 0;
    background-color: #f4f4f4;
    //display: flex;
    //justify-content: center;
    //align-items: flex-end;
    height: 100vh; /* Full viewport height */ 
    
}

#scoreboard{
    background-color: white;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    width: 80vw; 
    height: 50px;
    max-width: 1500px;
    margin: 5px;
    font-size: 30px;
    text-align: center;


    .playing-user{
        #users.name{
            font-weight: bold; //?
        }
        color: magenta;
    }
    .opponent-user{
        color: gray;
    }
}

#score{
    font-size: 60px;
}

.module-border-wrap {
    background: linear-gradient(to right, #fcb32b, #ff7230, #ee5c9e, #ac6dcd, #24b1ea,);
    padding: 3px;
}


#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Max 10 columns */
    grid-template-rows: repeat(10, 1fr);    /* Max 10 rows */
    background-color: #ddd;
    //border: 2px solid black;
    width: 80vw; /* Adjust width as needed */
    height: 70vh; /* Adjust height as needed to maintain square grid items */
    max-width: 1500px;
    //height: 80%;
    margin-left: 5px;

    .cells {
        background-color: white;
        //border: 1px solid black; // bort med grid 
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;

        .object {
            font-size: 2em; /* Adjust size as needed */
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer; //cursor:url('björkris.png'), auto;
        }
    }
}

