
// GRID LAYOUT
body {
    font-family: Arial, sans-serif;
    margin: 5%;
    padding: 0;
    background-color: #f4f4f4;
    //display: flex;
    //justify-content: center;
    //align-items: flex-end;
    height: 100vh; /* Full viewport height */ 
    
}






#scoreboard{
    background-color: green($color: #000000);
    border: 2px solid black;
    width: 50vw; /* Adjust width as needed */
    height: 50vw; /* Adjust height as needed to maintain square grid items */
    width: 80%; /* Fixed height for 10 items */
    height: 40%;
    padding: 5px;
    margin: 5px;

}

#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Max 10 columns */
    grid-template-rows: repeat(10, 1fr);    /* Max 10 rows */
    background-color: #ddd;
    border: 2px solid black;
    width: 80vw; /* Adjust width as needed */
    height: 70vh; /* Adjust height as needed to maintain square grid items */
    max-width: 1500px; /* Fixed height for 10 items */
    //height: 80%;
    margin-left: 5px;

    .cells {
        background-color: lightblue;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: bold;

        .object {
            font-size: 2em; /* Adjust size as needed */
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
}

