/*
@font-face {
    font-family: ;
    src: url();
}
*/
body {
    //font-family: ;
    background-image: url("src/assets/img/mellobackround.png");
    //height: 100vh;
    //width: 100vw;
    background-size: 100%, 100%; ;

    // cursor: url('src/img/cursor.png'), auto; // basturis i .object i game-page.scss
}

.hide {
	display: none !important;
}

#app,
#login-wrapper,

#login-wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 600px) {
        flex-direction: column;
    }

    #login-form {
        margin: 0 auto;
        text-align: center;

        @media (max-width: 600px) {
            justify-content:flex-start; //?
        }
    }

    #activeGames {
    margin-top: 10% ;
    background-color: lightgray;
    width: 25%;
    height: 500px;

         .users {
            display: flex;
         }
    
        li {
            list-style-type: none;
        }
        
        .versus {
            margin: 0 10px; /* Adjust the margin as needed */
        }

        @media (max-width: 600px) {
            width: 60%;
        }
    }

<<<<<<< HEAD
    #top10Games {
    margin-top: 10%;
=======
    #last10Games {
    margin-top: 100px;
>>>>>>> dev
    background-color: lightgray ;
    width: 25%;
    height: 500px; 

<<<<<<< HEAD
    @media (max-width: 600px) {
        width: 60%;
        
    }
    }
}
.waiting-for-player {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: black;
    border: 2px solid white;
    height: 400px;
    width: 400px;

    #mello-logo {
       animation: rotation 4s infinite linear;
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }

    #waiting-text{
        margin-top: 20px;
        font-size: 20px;
        color: white;
=======
        .users {
            display: flex;
        }

        li {
            list-style-type: none;
        }
        
        .versus {
            margin: 0 10px; /* Adjust the margin as needed */
        }
>>>>>>> dev
    }
}


.game-page {
height: fit-content;
width: fit-content;
margin: 0 auto;
}


#won-page {
    background-color: lightgreen;
}

#lost-page {
    background-color: lightcoral;
}

#draw-page {
    background-color: lightblue;
}


.result-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Take up the full viewport height */
    width: 100vw; /* Take up the full viewport width */
    
    .play-again {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        background-color: white;
    }
    
    .play-again:hover {
        background-color: rgb(92, 92, 92);
        color: white;
    }
}

