body {
    background-color: $bg-color;
}

.hide {
	display: none !important;
}

#app,
#login-wrapper,

#login-wrapper {
    display: flex;
    align-items: center;

    #login-forms {
        margin: 0 auto;
        text-align: center;
    }

    #activeGames {
        margin-top: 5%;
        background-color: pink ;
        width: 30%;
        height: 100vh;
        border-radius: 10px;
        transform: scale(0.8);
        overflow-y: auto;
   

         .users {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: cursive;
            font-size: large;
            margin: 5;
            padding: 0;
            
         }
    
        li {
            list-style-type: none;
        }
        
        .versus {
            margin: 0 10px; /* Adjust the margin as needed */
        }
    }

    #last10Games {
    margin-top: 5%;
    background-color: plum ;
    width: 30%;
    height: 100vh;
    border-radius: 10px;
    transform: scale(0.8);
    
        .usernameAndScore{

            padding: 0;
        }
     

        .users {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: cursive;
            font-size: large;
            margin: 5;
            padding: 0;
        }

        li {
            list-style-type: none;
        }
        
        .versus {
            margin: 0 10px; /* Adjust the margin as needed */
        }
    }
}




#won-page {
    background-color: lightgreen;
}

#lost-page {
    background-color: lightcoral;
}

#draw-page {
    background-color: lightblue;
}


.result-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Take up the full viewport height */
    width: 100vw; /* Take up the full viewport width */
    
    .play-again {
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        background-color: white;
    }
    
    .play-again:hover {
        background-color: rgb(92, 92, 92);
        color: white;
    }
}

